# pymysql 라이브러리 설치

In [1]:
# !pip install pymysql

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pymysql in c:\python38\lib\site-packages (1.1.0)

In [2]:
import pymysql

- 주요 파라미터
    - host : 접속할 mysql 서버 주소
    - port : 접속할 mysql 서버의 포트 번호
    - user, passwd : mysql ID 및 암호
    - db : 접속 할 데이터베이스
    - charset = 'utf8' : mysql에서 데이터를 가져올 때 포맷

In [3]:
db = pymysql.connect(host = 'localhost',
                     port = 3306,
                     user = 'root',
                     passwd = '1234',
                     charset = 'utf8')

In [4]:
db

In [5]:
cursor = db.cursor()

- DB 생성
    - cursor object 가져오기 : cursor = db.cursor()
    - SQL 실행하기 : cursor.execute(SQL) -> SQL 변수에 SQL문 작성
    - 실행 mysql 서버에 확정 반영하기 : db.commmit()

In [6]:
sql = "create database IF NOT EXISTS ecommerce"
cursor.execute(sql)

1

In [7]:
# db 목록 확인
sql = "show databases"
cursor.execute(sql)
result = cursor.fetchall()
result

(('ecommerce',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('tabledb',),
 ('world',))

In [8]:
# db변경
sql = "use ecommerce"
cursor.execute(sql)

0

In [9]:
# 현재 db확인
sql = "select database()"
cursor.execute(sql)
result = cursor.fetchone()
result

('ecommerce',)

- table 생성

In [10]:
# 현재 db에 product 테이블 추가, 필드 추가
sql = """
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

cursor.execute(sql)

OperationalError: (1050, "Table 'product' already exists")

In [11]:
# product 테이블 추가 확인
sql = "show tables"
cursor.execute(sql)
result = cursor.fetchall()
result

(('product',),)

In [12]:
db.close()

---

# db 재접속 하기

In [13]:
# DB 접속 종료 시 'db.close()' 다시 연결 필요.
db = pymysql.connect(host = 'localhost',
                     port = 3306,
                     user = 'root',
                     passwd = '1234',
                     charset = 'utf8')

In [14]:
cursor = db.cursor()

In [17]:
# db 선택 
sql = "use ecommerce"
cursor.execute(sql)

0

- table 생성 2

In [18]:
sql = '''
    CREATE TABLE product2 (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
'''

In [19]:
cursor.execute(sql)

0

In [20]:
db.commit()

In [21]:
db.close()

---

In [22]:
# db 재접속
db = pymysql.connect(host = 'localhost',
                     port = 3306,
                     user = 'root',
                     passwd = '1234',
                     charset = 'utf8')

In [23]:
cursor = db.cursor()

In [32]:
sql = "use ecommerce"
cursor.execute(sql)

0

- 필드 추가

In [43]:
for index in range(10):
    product_code = 216573140 + index + 1
    # Product_code 10개 반복문 생성
    
    sql = """INSERT INTO product2 VALUES(
    '""" + str(product_code)+  """', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'); """
    print(sql)

    cursor.execute(sql)

INSERT INTO product2 VALUES(
    '216573141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573148', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573149', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573150', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');

In [ ]:
## sql 변수를 f-string 포맷을 지정하면 안될까?

# sql = f"INSERT INTO product2 VALUES('{product_code}'); "

# 위와 같이 하는 경우 파이썬에서는 f문자열로 포맷팅 된 것을 알지만 mySQL에서는 f-string 문법을 알 수 없음.
# -> 따라서 +str(product_code)+ 로 추가하여야 함.

In [48]:
db.commit()

In [50]:
db.close()

---

In [65]:
# db 재접속
db = pymysql.connect(host = 'localhost',
                     port = 3306,
                     user = 'root',
                     passwd = '1234',
                     db = 'ecommerce',
                     charset = 'utf8')

cursor = db.cursor()

- product_code가 '216573141'인 상품 수정하기

In [66]:
sql = """
    UPDATE product2 SET 
    TITLE='하늘하늘 원피스 썸머 스페셜 가디건', 
    ORI_PRICE=33000, 
    DISCOUNT_PRICE=9900, 
    DISCOUNT_PERCENT=70 
    WHERE PRODUCT_CODE='216573141';
"""

cursor.execute(sql)

db.commit()
# 수정 후 commit

In [67]:
# 수정 확인

sql = """
    SELECT * FROM product2
    WHERE product_code = '216573141'
 """

cursor.execute(sql)

result = cursor.fetchone()
result

- 데이터 삭제 (DELETE)

In [68]:
sql = """
    DELETE FROM product2
    WHERE product_code = '216573141' 
    """
cursor.execute(sql)
db.commit()

In [69]:
# 삭제 확인
sql = """
    SELECT * FROM product2
    WHERE product_code = '216573141'
 """
cursor.execute(sql)

result = cursor.fetchone()
print(result)
db.commit()

db.close()

None