# pymysql 라이브러리 설치

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\python38\lib\site-packages (1.1.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pymysql

- 주요 파라미터
    - host : 접속할 mysql 서버 주소
    - port : 접속할 mysql 서버의 포트 번호
    - user, passwd : mysql ID 및 암호
    - db : 접속 할 데이터베이스
    - charset = 'utf8' : mysql에서 데이터를 가져올 때 포맷

In [3]:
db = pymysql.connect(host = 'localhost',
                     port = 3306,
                     user = 'root',
                     passwd = '1234',
                     charset = 'utf8')

In [4]:
db

In [5]:
cursor = db.cursor()

- DB 생성
    - cursor object 가져오기 : cursor = db.cursor()
    - SQL 실행하기 : cursor.execute(SQL) -> SQL 변수에 SQL문 작성
    - 실행 mysql 서버에 확정 반영하기 : db.commmit()

In [6]:
sql = "create database IF NOT EXISTS ecommerce"
cursor.execute(sql)

1

In [7]:
# db 목록 확인
sql = "show databases"
cursor.execute(sql)
result = cursor.fetchall()
result

(('ecommerce',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('tabledb',),
 ('world',))

In [8]:
# db변경
sql = "use ecommerce"
cursor.execute(sql)

0

In [11]:
# 현재 db확인
sql = "select database()"
cursor.execute(sql)
result = cursor.fetchone()
result

('ecommerce',)

In [12]:
# 현재 db에 product 테이블 추가, 필드 추가
sql = """
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

cursor.execute(sql)

0

In [14]:
# product 테이블 추가 확인
sql = "show tables"
cursor.execute(sql)
result = cursor.fetchall()
result

(('product',),)

In [15]:
db.close()